// Font families
$font-primary: 'Public Sans', sans-serif;

// Font weights
$font-regular: 400;
$font-bold: 700;

// Font sizes
$font-xxs: 12px;
$font-xs: 14px;
$font-sm: 16px;
$font-md: 20px;
$font-lg: 32px;

// Line heights
$line-sm: 120%;
$line-lg: 150%;


